# Docker
.docker/
docker-compose.override.yml

# Logs
*.log
logs/

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Kafka specific
kafka-logs/
connect.offsets
connect.status
connect.configs

# Temporary files
*.tmp
*.temp

# Components
components/*.zip 